services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "5267:8080"
    depends_on:
      - auth-service
      - audit-service
    networks:
      - thesis-network

  auth-service:
    build: ./auth-service
    ports:
      - "5240:8080"
    depends_on:
      - auth-db
    environment:
      ConnectionStrings__Default: "Host=auth-db;Port=5432;Database=authdb;Username=laida;Password=laida123"
    networks:
      - thesis-network

  auth-db:
    image: postgres:16
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: laida
      POSTGRES_PASSWORD: laida123
    ports:
      - "5432:5432"
    volumes:
      - authdb_data:/var/lib/postgresql/data
    networks:
      - thesis-network

  audit-service:
    build: ./audit-service
    ports:
      - "5250:8080"
    depends_on:
      - audit-db
    environment:
      ConnectionStrings__Default: "Host=audit-db;Port=5432;Database=auditdb;Username=laida;Password=laida123"
    networks:
      - thesis-network

  audit-db:
    image: postgres:16
    environment:
      POSTGRES_DB: auditdb
      POSTGRES_USER: laida
      POSTGRES_PASSWORD: laida123
    ports:
      - "5433:5432"
    volumes:
      - auditdb_data:/var/lib/postgresql/data
    networks:
      - thesis-network

networks:
  thesis-network:
    driver: bridge

volumes:
  authdb_data:
  auditdb_data:
